h1 {
    color: blue;
    background-color: orange;
    text-align: center;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Bungee Spice', cursive;
}
img {
    height: 500px;
    width: 430px;
}